html,
body {
  padding: 0;
  margin: 0;
  background-color: burlywood;
}
:root {
  --completed-task-color: greenyellow;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}
main h1 {
  text-align: center;
}

#todo-input {
  width: 150%;
}

#todo {
  justify-self: center;
  background-color: blanchedalmond;
  width: 60vmax;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
#add-todo-button {
  background-color: white;
  border: 1px solid lime;
  color: limegreen;
  border-radius: 7px;
  padding: 0.3rem 1rem;
  transition: all 0.3s;
}

#add-todo-button:hover {
  background-color: limegreen;
  color: white;
}

#cssTodo {
  display: flex;
  justify-content: space-between;
}

#error {
  color: red;
  margin: 0.6rem 0 0 0;
}

.task-to-do {
  background-color: cornflowerblue;
  border-radius: 10px;
  list-style: none;
  padding: 5px 10px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

ul {
  padding: 0;
  gap: 10px;
  margin-bottom: 0px;
}
li {
  margin-top: 0.5rem;
}

.task-status-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-shrink: 0;
}

/*Faire en sorte que le button ne bouge pas quand je click sur la checkBox*/
.buttonClass {
  background-color: white;
  border: 1px solid #ff4d4d;
  color: #ff4d4d;
  border-radius: 7px;
  padding: 0.3rem 0.7rem;
  transition: all 0.5s;
}

.buttonClass:hover {
  background-color: #ff4d4d;
  color: white;
}
