html,
body {
  padding: 0;
  margin: 0;
  background-color: burlywood;
}
:root {
  --completed-task-color: greenyellow;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}
main h1 {
  text-align: center;
}

#todo {
  justify-self: center;
  background-color: blanchedalmond;
  width: 60rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
#add-todo-button {
  background-color: white;
  border: 1px solid lime;
  color: limegreen;
  border-radius: 7px;
  padding: 0.3rem 1rem;
  transition: all 0.5s;
  font-weight: bold;
}

#add-todo-button:hover {
  background-color: limegreen;
  color: white;
}

#cssTodo {
  display: flex;
  justify-content: space-between;
}

#error {
  color: red;
  margin: 0.6rem 0 0 0;
  text-align: center;
}

.task-to-do {
  background-color: cornflowerblue;
  border-radius: 10px;
  list-style: none;
  padding: 5px 10px;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 2rem;
}

ul {
  padding: 0;
  gap: 10px;
  margin-bottom: 0px;
}
li {
  margin-top: 0.5rem;
}

.task-status-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/*Je dois faire en sorte que le button ne bouge pas quand je click sur la checkBox*/
.task-to-do__remove-button {
  background-color: white;
  border: 1px solid #ff4d4d;
  color: #ff4d4d;
  border-radius: 7px;
  padding: 0.3rem 0.7rem;
  transition: all 0.5s;
}

.task-to-do__remove-button:hover {
  background-color: #ff4d4d;
  color: white;
}

/* Bloque la taille du texte "Completed / Uncompleted" */
.task-status-container label {
  width: 6rem;
  display: inline-block;
}

#task-to-do__remove-All-button {
  background-color: white;
  border: 1px solid #ff4d4d;
  color: #ff4d4d;
  border-radius: 7px;
  padding: 0.3rem 0.7rem;
  transition: all 0.5s;
  font-weight: bold;
  min-width: 8rem;
}

#task-to-do__remove-All-button:hover {
  background-color: #ff4d4d;
  color: white;
}

#delete-all-button {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.warning {
  background-color: #ff4d4d;
  transform: scale(1.1);
  font-weight: bold;
  box-shadow: 0 4px 15px rgba(255, 77, 77, 0.4);
}
