html,
body {
  padding: 0;
  margin: 0;
  background-color: burlywood;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

.todo {
  justify-self: center;
  background-color: blanchedalmond;
  padding: 2.2rem;
  border-radius: 10px;
  margin-top: 10px;
}

#add-todo-button {
  border-style: none;
  background-color: #00ff7f;
  border-radius: 0.4rem;
  padding: 5px, 10px;
  color: #ffffff;
  font-size: 1rem;
}
#error {
  color: red;
}
