html,
body {
  padding: 0;
  margin: 0;
  background-color: burlywood;
}
:root {
  --completed-task-color: greenyellow;
  --basic-color-changer-white: #ffffff;
  --overdued-color-red: #ff0000;
  --overdued-color-orange: #ff7f00;
  --overdued-color-yellow: #efcc00;
  --overdued-color-green: #008000;
  --add-button-color-green: limegreen;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}
main h1 {
  text-align: center;
}

#todo {
  justify-self: center;
  background-color: blanchedalmond;
  width: 60rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
#add-todo-button {
  background-color: white;
  border: 1px solid var(--overdued-color-green);
  color: var(--add-button-color-green);
  border-radius: 7px;
  padding: 0.3rem 1rem;
  transition: all 0.5s;
  font-weight: bold;
}

#add-todo-button:hover {
  background-color: var(--completed-task-color);
  color: var(--basic-color-changer-white);
}

#cssTodo {
  display: flex;
  justify-content: space-between;
}

#error {
  color: var(--overdued-color-red);
  margin: 0.6rem 0 0 0;
  text-align: center;
}

.task-to-do {
  background-color: cornflowerblue;
  border-radius: 10px;
  list-style: none;
  padding: 10px;
  color: var(--basic-color-changer-white);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 2rem;
}

ul {
  padding: 0;
  gap: 10px;
  margin-bottom: 0px;
}
li {
  margin-top: 0.5rem;
}

#todo-input {
  border-radius: 7px;
}

#todo-input::selection {
  border: blue;
}

.task-status-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/*Je dois faire en sorte que le button ne bouge pas quand je click sur la checkBox*/
.task-to-do__remove-button {
  background-color: var(--basic-color-changer-white);
  border: 1px solid var(--overdued-color-red);
  color: var(--overdued-color-red);
  border-radius: 7px;
  padding: 0.3rem 0.7rem;
  transition: all 0.5s;
}

.task-to-do__remove-button:hover {
  background-color: var(--overdued-color-red);
  color: var(--basic-color-changer-white);
}

/* Bloque la taille du texte "Completed / Uncompleted" */
.task-status-container label {
  width: 6rem;
  display: inline-block;
}

#task-to-do__remove-All-button {
  background-color: var(--basic-color-changer-white);
  border: 1px solid var(--overdued-color-red);
  color: var(--overdued-color-red);
  border-radius: 7px;
  padding: 0.3rem 0.7rem;
  transition: all 0.5s;
  font-weight: bold;
  min-width: 8rem;
}

#task-to-do__remove-All-button:hover {
  background-color: var(--overdued-color-red);
  color: var(--basic-color-changer-white);
}

.warning {
  background-color: var(--overdued-color-red);
  transform: scale(1.1);
  font-weight: bold;
  box-shadow: 0 4px 15px rgba(255, 77, 77, 0.4);
}

.dateTimeClass {
  margin: 0;
  color: var(--basic-color-changer-white);
}

#overdue-message {
  background-color: var(--overdued-color-red);
  color: var(--basic-color-changer-white);
  padding: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0.2rem;
  width: 15rem;
  text-align: center;
  border-radius: 12rem;
  justify-self: center;
  margin-bottom: 40px;
}
